.feedback {
    padding-bottom: 71px;
    &__wrapper {
        margin-top: 70px;
    }
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 100px;
        &:last-child {
            margin-bottom: 0;
        }
        img {
            width: 169px;
            height: 169px;
            border: none;
        }
    }
    &__text {
        padding-left: 62px;
    }
    &__header {
        font-size: 18px;
        font-weight: 700;
        color: #0d0d0d;
    }
    &__subheader {
        margin-top: 10px;
        font-size: 14px;
        font-weight: 300;
        color: #646464;
    }
    &__descr {
        margin-top: 19px;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 300;
        color: #0d0d0d;
    }
}